* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.page-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #f0f0f0; /* Light background color */
}

.raster {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* 5 columns */
    grid-template-rows: repeat(4, 1fr);   /* 4 rows */
    gap: 10px; /* Space between grid items */
    padding: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    background-color: #f9f9f9;
    border: 1px solid #2c3e50; /* Dark border color */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

.raster-details {
    flex: 3;
    padding: 3em;
    background-color: #f8f6de; /* Subtle yellow resembling a sticky note */
    text-align: center;
}

.raster-id {
    flex: 1;
    padding: 0.5em;
    background-color: #2c3e50;
    color: white;
    text-align: center;
    font-weight: bold;
}

.info {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 columns */
    grid-template-rows: repeat(2, auto);  /* 2 rows */
    gap: 3em 20em; /* Space between the cards */
    margin: 1em auto;
    background-color: #f0f0f0;
    max-width: 70%; /* Adjust width as needed */
    padding: 1em;
    border: 1px solid #2c3e50;
    border-radius: 5px;
}

.info-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5em;
    flex: 1;
    border-radius: 5px;
    text-align: center;
}

.info-card-title {
    font-size: 2em;
    font-weight: bold;
    margin: 0.5em 0;
}

.info-card-value {
    font-size: 1.75em;
    margin: 0.5em 0;
    text-decoration: underline;
}

.barcode {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    border-radius: 5px;
    font-size: 3em;
}

.barcode-value {
    font-size: 1.5em;
    margin: 0.5em 0;
    border: 1px solid #2c3e50;
}